@media print,screen and (min-width:1024px){

.spacer {height: 150px;}

.sectiontitle-beige{
    font-size:40px;
    color:#3e3a39;
    font-family: "Zen Kaku Gothic NEW";
    font-weight: bold;
    position: relative;
    }
    
.sectiontitle-beige p{
    display: block;
    margin: 0;
    text-align: center;
    position: absolute;
    left: 140px;
}

.sectiontitle-beige p:before{
    content:url("../images/beige.png");
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -50px;
    left: -120px;

}
.sectiontitle-beige p:after{
    content:url("../images/beige.png");
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -50px;
    right: -70px;
}

.sectiontitle-blue{
    font-size:40px;
    color:#3e3a39;
    font-family: "Zen Kaku Gothic NEW";
    font-weight: bold;
    position: relative;
    }
    
.sectiontitle-blue p{
    display: block;
    margin: 0;
    text-align: center;
    position: absolute;
    left: 140px;
}

.sectiontitle-blue p:before{
    content:url("../images/blue.png");
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -50px;
    left: -120px;

}
.sectiontitle-blue p:after{
    content:url("../images/blue.png");
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -50px;
    right: -70px;
}

.sectiontitle-green{
    font-size:40px;
    color:#3e3a39;
    font-family: "Zen Kaku Gothic NEW";
    font-weight: bold;
    position: relative;
    }
    
.sectiontitle-green p{
    display: block;
    margin: 0;
    text-align: center;
    position: absolute;
    left: 140px;
}

.sectiontitle-green p:before{
    content:url("../images/green.png");
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -50px;
    left: -120px;

}
.sectiontitle-green p:after{
    content:url("../images/green.png");
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -50px;
    right: -70px;
}


.sectiontitle-pink{
    font-size:40px;
    color:#3e3a39;
    font-family: "Zen Kaku Gothic NEW";
    font-weight: bold;
    position: relative;
    }
    
.sectiontitle-pink p{
    display: block;
    margin: 0;
    text-align: center;
    position: absolute;
    left: 140px;
}

.sectiontitle-pink p:before{
    content:url("../images/pink.png");
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -50px;
    left: -120px;

}
.sectiontitle-pink p:after{
    content:url("../images/pink.png");
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -50px;
    right: -70px;
}
.sectiontitle-red{
    font-size:40px;
    color:#3e3a39;
    font-family: "Zen Kaku Gothic NEW";
    font-weight: bold;
    position: relative;
    }
    
.sectiontitle-red p{
    display: block;
    margin: 0;
    text-align: center;
    position: absolute;
    left: 140px;
}

.sectiontitle-red p:before{
    content:url("../images/red.png");
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -50px;
    left: -120px;

}
.sectiontitle-red p:after{
    content:url("../images/red.png");
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -50px;
    right: -70px;
}

.sectiontitle-yellow{
    font-size:40px;
    color:#3e3a39;
    font-family: "Zen Kaku Gothic NEW";
    font-weight: bold;
    position: relative;
    }
    
.sectiontitle-yellow p{
    display: block;
    margin: 0;
    text-align: center;
    position: absolute;
    left: 140px;
}

.sectiontitle-yellow p:before{
    content:url("../images/yellow.png");
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -50px;
    left: -120px;

}
.sectiontitle-yellow p:after{
    content:url("../images/yellow.png");
    width: 100px;
    height: 100px;
    transform: scale(0.1);
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -50px;
    right: -70px;
}


}