@media print, screen and (max-width:1023px){
    .header {
        height: 70px;
        background-color: #efeae9;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      }
      .header-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        color: #b53240;
        padding: 0 25px 0 0;
        margin-right: auto;
        margin-left: 0;
      }
      .header-logo_pc img{
        display: none;
        position: absolute;
      }
      .header-logo_sp img{
        position: absolute;
        top: -5px;
        left: 0;
        height: 80px;
      }
      input[type="checkbox"] {
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }
      .hamburger {
        display: block;
        width: 50px;
        height: 80px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
      }
      .hamburger span,
      .hamburger span::before,
      .hamburger span::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #b53240;
        transition: all 0.5s;
      }
      .hamburger span::before {
        top: -12px;
      }
      .hamburger span::after {
        bottom: -12px;
      }
      input[type="checkbox"]:checked + .hamburger span {
        background-color: transparent;
      }
      input[type="checkbox"]:checked + .hamburger span::before {
        top: 0;
        transform: rotate(45deg);
      }
      input[type="checkbox"]:checked + .hamburger span::after {
        bottom: 0;
        transform: rotate(-45deg);
      }
      .nav {
        position: fixed;
        width: 60vw;
        height: 70%;
        top: 80px;
        right: -120%;
        background-color: #efeae9;
        list-style: none;
        padding: 50px 0;
        transition: all 0.5s;
      }
      .nav-list{
        font-family: 'Zen Kaku Gothic New';
        font-weight: bold;
        list-style: none;
        overflow-y: scroll;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
      .nav-item{
        padding: 10px 0;
      }
      .nav-item a {
        display: block;
        color:#b53240;
        font-size: 20px;
        padding: 0px 0 5px 0px;
        position: relative;
        display: inline-block;
        text-decoration: none;
      }
      .nav-item a:hover {
        color: #b53240;
      }
      .nav-item a::after {
        position: absolute;
        bottom: -3px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #b53240;
        transform: scale(0, 1);
        transform-origin: center top;
        transition: transform .3s;
      }
      .nav-item a:hover::after {
        transform: scale(1, 1);
      }
      input[type="checkbox"]:checked ~ .nav {
        right: 0;
      }
}